-> pandas is a library for data manipulation , data analysis , data cleaning .
# cleaning Data
->Data cleaning involves removing irrelevant rows, handling empty or NULL values , identifying outliers, and eliminating duplicates to improve data quality.
# Cleaning Empty Cells
i.Removing Rows with Empty Cells
new_df = df.dropna()  # Returns a new DataFrame without modifying the original  
df.dropna(inplace=True)  # Modifies the original DataFrame 

ii.Replacing Empty Values
df.fillna(130, inplace=True)  # Replaces all empty cells with 130  
df["Calories"].fillna(130, inplace=True)  # Replaces empty values only in the "Calories" column  

iii. Replacing with Mean, Median, or Mode
x = df["Calories"].mean()  
df["Calories"].fillna(x, inplace=True)  # Replaces empty values with the mean  

x = df["Calories"].median()  
df["Calories"].fillna(x, inplace=True)  # Replaces empty values with the median  

x = df["Calories"].mode()[0]  # Mode may return multiple values, so we select the first one  
df["Calories"].fillna(x, inplace=True)  # Replaces empty values with the mode  

# Removing Duplicates
i.check for duplicate rows in the dataset
print(df.duplicated())  # Returns True for duplicate rows, otherwise False  
ii.Removing Duplicate Rows from the DataFrame
df.drop_duplicates(inplace=True)  

# why we use pandas?
i. Data Cleaning , Preprocessing and Transformation
ii. Exploratory Data Analysis (EDA)
iii. Visualization
iv. pandas can Handle large dataset 
v. Missing data ko handle karna.
vi. Data ko filter aur slice karna.
vii. Data ko merge aur group karna

In [4]:
#series 1-D Array
import pandas as pd
data=pd.Series([10,20,40,50] , index=['a','b','c','d'])
print(data)
print("b=",data['b'])

a    10
b    20
c    40
d    50
dtype: int64
b= 20

In [ ]:
# DataFrame (2-D Array)
# i.using dataframe
import pandas as pd

data={'Name':["A","B","C","D"] , 'Age':[20,40,26,18],'salary':[207,406,265,148]}
index=[1,2,3,4]
df=pd.DataFrame(data,index)
print(df)

# ii.using csv
df=pd.read_csv(r'C:\Users\sagar\Desktop\dataset.csv')
df.head() #first 5 row

# iii.using Excel ( pip install openpyxl )
df=pd.read_excel(r'C:\Users\sagar\Desktop\AmazonSales.xlsx')

# Note:  agar jis folder me mera code ka file hai ussi folder me csv file to directly name likh dena.
#          [  df=pd.read_csv(r‘AmazonSaleReport.csv’)   ]

  Name  Age  salary
1    A   20     207
2    B   40     406
3    C   26     265
4    D   18     148

In [ ]:
# Methods in pandas
df.head()
df.tail()
df.info() # details like non-null , data_types
df.describe() #summary like count ,mean,standard deviation,min,max,25%,50%
df.shape() #number of rows and column
df.drop(['column_name'],axis=1,inplace=True) # delete that column
                                             # (inpalce=True means,main file me bhi changes hoga)
df.isnull() # show null values ( True ->null False ->not null )
df.isnull().sum() # show count of null values
df.dropna() # delete rows with null values
df.dropna(thresh=2) # delete rows with 2 or more null values
df.fillna(45) # fill null values with some value(i.e, fill with 45)
df.isna() #check for missing values in the dataFrame
df.sort_values('column_name') #sort DataFrame based on the values in the specified column
df.merge(df1,df2,on='common_column_name') # merge 2 dataframe based on common column 
df.rename(columns={'old_name':'new_name'}) 
df['column_name'].astype('int') #convert datatype of a column to integer
df.to_csv('filename.csv') #export dataframe to csv
df.to_csv('filename.xlsx') #export dataframe to excel

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, 1 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      int64
 2   salary  4 non-null      int64
dtypes: int64(2), object(1)
memory usage: 128.0+ bytes

TypeError: 'tuple' object is not callable

In [ ]:
# Handling duplicate values
df.duplicated()
df.drop_duplicates()
df.drop_duplicates(subset=['EEID'],inplace=True) #remove duplicates based on specific columns

In [ ]:
# column Transformation
import pandas as pd
df=pd.read_csv(r'C:\Users\sagar\Desktop\learn python\dataset.csv')
df['A']=df['A']*2  # column 'A' ka sabhi values ko 2 se multiple karna
df['C']=df['A'].str.upper()+" "+df['B'].str.upper()  # column 'C' new column hai ,column C me column A and B ke value ko add kr do,
                                                    # and column 'A' and 'B' uppercase me hoga and " " ->bich me space ke liye also use "str.capitalize()"
df['B']=df['B'].replace(5,60)  #column 'B' me 5 ko replace 60  kar do
df['D']=df['A'].apply(lambda x:'High' if x>4 else 'low') # D new column h,and agar column A me value 5 se jyada h to 'High' else 'low'

# A and B is my column name jo mere excel me present h. C and D new column h.

In [5]:
# Group By
import pandas as pd

data = {
    'department': ['IT', 'HR', 'IT', 'Finance', 'HR', 'Finance', 'IT'],
    'Gender': [50000, 40000, 60000, 55000, 42000, 58000, 70000]
}

df = pd.DataFrame(data)

# Group by department and sum salary
result = df.groupby('department')['Gender'].sum().reset_index()

# sum ke jagah mean() , max() , count() bhi likh sakte h
# reset_index() ->agar ye nhi likhe to series return karega .but hume dataframe return karna h 
print(result)

  department  Gender
0    Finance  113000
1         HR   82000
2         IT  180000

In [ ]:
# merge , concatenate in pandas